*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  position: relative;
}

/* .header__profile-img-box {
  position: absolute;
}

.header__profile-img {
  height: 40rem;
  width: 40rem;
  border-radius: 20rem;
} */

.header__logo-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__logo {
  height: 20rem;
}

.header__text-box {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #000;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  text-transform: uppercase;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  margin: 3rem;
}
